<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Antes y Despues</title>
    <link rel="stylesheet" href="/css/antesydespues.css">
</head>
<body class="body-antesydespues">
    <section class="contenedorTarjeta-antesDespues">
        <div class="contenedorImagenes-antesDespues">
            <div class="contenedorImagen1-antesDespues">
            <img src="/images/antesydespues/1.jpg" alt="">
            <h2>Antes</h2>
            </div>
            
            <div class="contenedorImagen2-antesDespues">
            <img src="/images/antesydespues/1 - copia.jpg" alt="">
            <h2>Después</h2>
            </div>
            <h1 class="nombre-antesydespues">Juana</h1>
        </div>
        <div>
            <p></p>
        </div>
    </section>
</body>
</html>