<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Antes y Despues</title>
    <link rel="stylesheet" href="/css/antesydespues.css">
</head>
<body class="body-antesydespues">
    <section class="contenedorTarjeta-antesDespues">
        <div class="contenedorImagenes-antesDespues">
            <div class="contenedorImagen1-antesDespues">
            <img src="/images/antesydespues/1.jpg" alt="">
            <h2>2021</h2>
            </div>
            
            <div class="contenedorImagen2-antesDespues">
            <img src="/images/antesydespues/1 - copia.jpg" alt="">
            <h2>2022</h2>
            </div>
            <h1 class="nombre-antesydespues">Juana</h1>
        </div>
        <div class="contenedorDescripcion">
            <p>Juana fue encontrada con un ojo agusanado en el año 2021 hoy después de 3 años
                y mucho amor está lista para dar en adopción.</p>
        </div>
    </section>
    <section class="contenedorTarjeta-antesDespues">
        <div class="contenedorImagenes-antesDespues">
            <div class="contenedorImagen1-antesDespues">
            <img src="/images/antesydespues/2.jpeg" alt="">
            <h2>2019</h2>
            </div>
            
            <div class="contenedorImagen2-antesDespues">
            <img src="/images/antesydespues/2 - copia.jpeg" alt="">
            <h2>2022</h2>
            </div>
            <h1 class="nombre-antesydespues">Pablo</h1>
        </div>
        <div class="contenedorDescripcion">
            <p>Pablo fue encontrado con zarna en el año 2019 hoy después de 3 años
                y mucho amor Pablo es un perro sano listo para dar en adopción.</p>
        </div>
    </section>
    <section class="contenedorTarjeta-antesDespues">
        <div class="contenedorImagenes-antesDespues">
            <div class="contenedorImagen1-antesDespues">
            <img src="/images/antesydespues/3.jpeg" alt="">
            <h2>2016</h2>
            </div>
            
            <div class="contenedorImagen2-antesDespues">
            <img src="/images/antesydespues/3 - copia.jpeg" alt="">
            <h2>2022</h2>
            </div>
            <h1 class="nombre-antesydespues">Albert</h1>
        </div>
        <div class="contenedorDescripcion">
            <p>Albert fue encontrado con una sutura al costado del cuerpo en el año 2016 hoy después de 3 años
                y mucho amor fito es un perro sano listo para dar en adopción.</p>
        </div>
    </section>
</body>
</html>