<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body class="body-home">
    <Section class="home">
        <div class="conteinerPublicidad-home">
            <div class="publicidad1-home">
            </div>
            <div class="conteinerVisitanos-home">
                <div class="visitanos-home">
                    <h2>¡Visitanos!</h2>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1635.3811629708725!2d-58.615342867099486!3d-34.937497278010575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcd8edc68d2da3%3A0xf831288f45cbdfa6!2sHogar%20Bernardino%20Rivadavia!5e0!3m2!1ses-419!2sar!4v1666029395310!5m2!1ses-419!2sar" width="240" height="100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="conteinerDenuncia-home">
                <div class="visteMaltrato-home">
                    <h2>¿Viste maltrato animal?</h2>
                </div>
                <div class="denuncia-home">
                    <h1>¡DENUNCIÁ!</h1>
                </div>
            </div>
            <div class="publicidad2-home">
            </div>
        </div>
        <div class="conteinerDerecho-home">
            <div class="banner-home">
                <img src="/images/banner.png" alt="">
            </div>
            <div class="porque-home">
                <h1>¿por que adoptar y no comprar?</h1>
                <p>Porque adoptando estás salvando la vida de un animal rescatado.
                    Cada perro adoptado deja su lugar para que ingrese otro y pueda
                    ser recuperado en el refugio. 
                    Adoptar es un acto de amor y de responsabilidad, 
                    por eso es necesario estar completamente seguros de que estamos capacitados y
                    listos para tener un perro. Un animal de compañía dependerá toda su vida de nosotros. 
                    Recordá que un perro puede vivir entre 15 y 20 años y estás asumiendo un compromiso serio por todo ese tiempo. </p>
            </div>
            <div class="decidiste-home">
                <h1>¿Decidiste adoptar un perro?</h1>
                <h2>Estos son algunos de los que rescatamos</h2>
            </div>
            <div class="containerPerrosCards-home">
                <div class="card1-home">
                    <img src="/images/perro-card1.jpg" alt="">
                    <div class="caracteristicas-home">
                        <h1 style="text-align: center;">CARACTERISTICAS</h1>
                        <p>Nombre: Dustin</p>
                        <p>Edad: 2 años</p>
                        <p>Tamaño: Mediano</p>
                        <p>Raza: ......</p>
                        <p>Sexo: Macho</p>
                        <p>Color: Amarillo</p>
                    </div>
                    <button class="verMas-home">Ver más</button>
                </div>
                <div class="card1-home">
                    <img src="/images/perro-card2.jfif" alt="">
                    <div class="caracteristicas-home">
                        <h1 style="text-align: center;">CARACTERISTICAS</h1>
                        <p>Nombre: Camila</p>
                        <p>Edad: 1 año</p>
                        <p>Tamaño: Mediano</p>
                        <p>Raza: ......</p>
                        <p>Sexo: Hembra</p>
                        <p>Color: Amarillo</p>
                    </div>
                    <button class="verMas-home">Ver más</button>
                </div>
            </div>
            <div class="conocenos-home">
                <h1>¡Conocenos!</h1>
                <h3>Estos son algunos de los refugios de zona sur</h3>
            </div>
            <div class="ubicaciones-home">
              <section class="ubicacion1">
                <div class="tarjetaUbicacion-home">
                    <img width="300px" height="150px" src="/images/Ubicación refugios.jpg" alt="">
                </div>
                <div class="tarjetaUbicacion-home">
                    <img width="300px" height="150px" src="/images/Ubicación refugios.jpg" alt="">
                </div>
              </section>
              <section class="ubicacion1">
                <div class="tarjetaUbicacion-home">
                    <img width="300px" height="150px" src="/images/Ubicación refugios.jpg" alt="">
                </div>
                <div class="tarjetaUbicacion-home">
                    <img width="300px" height="150px" src="/images/Ubicación refugios.jpg" alt="">
                </div>
              </section> 
              <div class="verMasContenedor-home2">
              <button class="verMas-home2">Ver más</button>
            </div>
            </div>
        </div>
    </Section>
</body>
</html>