<!DOCTYPE html>
<html>
<head>
    <title>¿Quienes somos?</title>
    <link rel="preconectar" href="https://fonts.googleapis.com">
    <link rel="preconectar" href="https://fonts.gstatic.com" crossorigin>
    <link href="https: //fonts.googleapis.com/css2? family= Mukta:wght@300 & display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/somos.css">
</head>
<body class="cuerpo">
    <h1 id="titulo">¿Quienes somos?</h1>
<section class="parrafo">
    <article>
        <p>
            Somos un grupo de personas que trabaja para promover y 
            lograr la tenencia responsable de animales domesticos, y
             adhiere a toda medida que procure el bienestar animal en general.
            Para esto, contamos con esta pagina web a la que acaba de acceder y desde ella facilitaremos la adopcion de perros y gatos rescatados de la calle.
            Estos son alojados provisoriamente , y rehabilitados si la situacion lo requiere.
        </p>
    </article>
</section>
<section>
    <article class="huella">
        <img src="/images/huella.corazon1.png"/>
        <img src="/images/huella.corazon2.png"/>
        <img src="/images/huella.corazon3.png"/>
        <img src="/images/huella.corazon4.png"/>
    </article>
</section>
<section>
    <article class="huella2">
        <img src="/images/huella.corazon5.png"/>
        <img src="/images/huella.corazon6.png"/>
        <img src="/images/huella.corazon7.png"/>
        <img src="/images/huella.corazon8.png"/>

    </article>
</section>
<section>
    <article class="huella3">
        <img src="/images/huella.corazon9.png"/>
        <img src="/images/huella.corazon10.png"/>
        <img src="/images/huella.corazon11.png"/>
        <img src="/images/huella.corazon12.png"/>
        <img src="/images/huella.corazon13.png"/>
        <img src="/images/huella.corazon14.png"/>
    </article>
</section>
<section>
    <article class="grupo">
        <img src="/images/grupodeperros.png"/>
    </article>
</section>
</body>
</html>